/* imports fonts from font.css */
@import url(./font.css);
/* css variable */
@import url(./Partials/_variables.css);
/* Global File */
@import url(./Partials/global.css);

#himank{
	font-weight: bold;
	color:purple;
	padding: 0 2rem 0 5rem; 
}

.navbar{
	padding: 1rem 20rem;
	color:var(--title-color);
}

.nav-link{
	font: normal 500 15px/2px var(--roboto);
	text-transform: uppercase;
	padding: 10px;
	color:var(--title-color);
}

.active	a{
	background: var(--primary-color2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;	
}

a:hover{
	background: var(--primary-color2);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;	
}
/*	start navigtion */



/* end navgation */

/* Banner area */

.h3title{
	padding-top: 35%;
	font-weight: 500;
}

.h3title::after{
	content: "";
	height: 2px;
	width: 18vw;
	background: black;
	display: inline-block;
	margin-left: 5%;
	transform: translateY(-10px);
}
.h1title{
	font-size: 5rem;	
}

.h4title{
	font-size: 1.5rem;	
} 

.banner-img{
	padding: 7rem 0;
	width: 90rem;
}

.karan{
	width: 80rem;

}

/* end banner area */

/* Stat About Area */
.about-area{
	padding: 8rem 5rem;
}

.h2span{
	display: block;
	font: normal bold 49px/60px var(--roboto);
	letter-spacing: 21px;
}
.para{
	padding: .4rem 0;
}


/* End About Area */

/* Start Brand Area */
.site-main .brand-area{
    padding: 1rem 20rem;
    margin-bottom: 4rem;
}

.site-main .brand-area .first-row .col-lg-4{
    display: flex;
    justify-content: center;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand > img{
    width: 50%;
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover{
    box-shadow: 0px 10px 30px rgb(27, 4, 49);
    transform: scale(1.1);
}

.site-main .brand-area .first-row .col-lg-4 > .single-brand:hover > img{
    filter: brightness(0.15);
}
.site-main .brand-area .experience-area{
	padding-left: 1rem;
}

.site-main .brand-area .experience-area span{
	display: block;
}


.site-main .brand-area .experience-area {
    background: url(../img/client-info-bg.png) no-repeat 35px 15px;
	background-size:250px;
    padding: 2rem 0;
    width: 30rem;
    height: 18rem;
    padding-left: 2rem;
    position: relative;
}

.site-main .brand-area .experience-area .bg-panel{
	position: absolute;
	left: -315px;
	top: 0%;
	background:#3934440a;
	width: 300px;
	height: 300px;
	margin-left: 340px;
	z-index: -1;
}

.site-main .brand-area .experience-area .years-area .years{
	font: normal bold 50px/40px var(--roboto);
	color: var(--primary-color2);
	z-index: 2;

}

.site-main .brand-area .experience-area .years-area h2 > span{
	font: normal 600 22px/30px var(--roboto);
}

.site-main .brand-area .experience-area .call-area{
		
	padding-left: 0rem;
	padding-top: 2rem;	
}

/* End Brand Area */

/* Services Area */

.site-main .services-area{
	padding: 7rem 2rem;
}

.site-main .services-area .services-title{
	padding: 0 14rem;
}

.site-main .services-area .services-title h1{
	font-size: 35px;
}

.site-main > .services-area .services{
	background: rgba(158, 110, 52, 0.097);
	padding: .5rem 0;
	width: 16rem;
	margin: 5rem .5rem;
	transition: box-shadow .7s ease;
	border-radius: 2rem;
}

.site-main > .services-area .services:hover{
	box-shadow:0px 10px 30px rgb(25, 4, 49);
}
/* End Services Area */

/* Project Area */

.site-main .project-area{
	padding: 4rem 0;
}

.site-main .project-area .button-group button{
	background: transparent;
	border: none;
	font: normal 500 16px/130px var(--roboto);
	text-transform: uppercase;
}
.site-main .project-area .button-group button + button{
	padding-left: 3rem;
}

.site-main .project-area .grid .our-project > title h4{
	font: normal 700 25px/12px var(--roboto);
}

.site-main .project-area .grid .our-project .img a:hover img{
	filter: brightness(1.1) drop-shadow(1px 8px 30px #a269ee);
}
/* End Project Area */



/* Start Subscribe Area */

.site-main .subscribe-us-area .subscribe{
	background: url(../img/subscribe-bg.png) no-repeat;
	padding: 10rem 0;
	margin: 3rem auto;

}

.site-main .subscribe-us-area .subscribe .subscribe-title h4{
	font: normal 700 30px/30px var(--roboto);
	color: whitesmoke;

}

.site-main .subscribe-us-area .subscribe .subscribe-title p{
	color: whitesmoke;
	padding: 1rem 4rem;	
}

.site-main .subscribe-us-area .subscribe form .input-textbox input{
	width: 400px;
	padding: 1.5rem 1rem;
	border: 1px solid whitesmoke;
	background : transparent;
	color: white;
	font: normal 500 17px/20px var(--roboto);
}

.site-main .subscribe-us-area .subscribe form .input-textbox input::placeholder{
	color: white;
}
.site-main .subscribe-us-area .subscribe form .btn-submit button{
	background: whitesmoke;
	color: black;
	padding: 0.7rem 2rem ;
}
/* End Subscribe Area */


/* Start Footer Area */
footer.footer-area{
	padding: 5rem 0;
	background: url(../img/footer-bg.png) no-repeat;

}
footer.footer-area .social h5{
	font: normal 500 23px/30px var(--roboto);
}

footer.footer-area .social a > i{
	font-size: 22px;
	padding: 2rem;
	color: var(--border-color);
}
footer.footer-area .social a:hover > i{
	color: var(--primary-color);
}

/* End Footer Area */